@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
 /* background: url('../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;*/
}

#background{
  position: absolute;
}
#belonaImage{
  position: absolute;
  width: 63%;
  z-index: 2;
}
#divisor{
  position: absolute;
  left: 750px;
  height: 760px;
}
#logo{
  position: absolute;
  left: 50px;
  top: 300px;
  z-index: 3;
}

.login{
  border: 2px solid red;
  position: absolute;
  z-index: 4;
  top: 250px;
  left: 300px;
}
.divisorLogin{
  width: 4%;
  
}
.firstStepLoginActivated{
  color: white;
}
.secondStepLoginDisabled{
  color: white;
}
#loginTitle{
  color: rgb(244,100,3);
  text-transform: uppercase;
  font-family: 'Exo', sans-serif;
  font-size: 24px;
}
#loginTitle2{
  font-size: 32px;
}