@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
  background: url('../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;	  
}

#belonaImage{
  width: 63%;
}
#divisor{
  height: 800px;
  position: absolute;
  left: 790px;
}
#logo{
  position: relative;
  left: 80px;
  width: 80%;
  top: -450px;
}

.login{
  border: 2px solid red;
  position: relative;
  left: 200px;
  top: -600px;
}
.divisorLogin{
  width: 4%;
  
}
.firstStepLoginActivated{
  color: white;
}
.secondStepLoginDisabled{
  color: white;
}
#loginTitle{
  color: rgb(244,100,3);
  text-transform: uppercase;
  font-family: 'Exo', sans-serif;
  font-size: 24px;
}
#loginTitle2{
  font-size: 32px;
}